h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.card {
    border-radius: 12px;
}

.form-control {
    background-color: #111;
    border: 1px solid #ff0000;
    color: #fff;
}

.form-control:focus {
    background-color: #111;
    color: #fff;
    box-shadow: none;
    border-color: #ff4b4b;
}

.form-label {
    font-weight: 500;
}

.btn-danger {
    background-color: #ff0000;
    border: none;
    padding: 14px;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #cc0000;
}

hr {
    border-color: #333;
}
