
.product-title {
            font-size: 2rem;
            font-weight: 800;
        }

        .rating-stars i {
            color: #FFD700;
            font-size: 1.2rem;
        }

        .product-box {
            background: #e5e5e5;
            border-radius: 20px;
            padding: 25px;
        }

        .size-btn {
            width: 45px;
            height: 45px;
            background: #d1d1d1;
            border-radius: 50%;
            line-height: 45px;
            text-align: center;
            font-weight: 600;
            cursor: pointer;
            transition: .2s;
            display: inline-block;
        }

        .size-btn:hover {
            background: #666;
            color: white;
        }

        .btn-cart {
            background: #d62828;
            color: white;
            font-weight: 600;
            border-radius: 50px;
            padding: 15px;
            font-size: 1.1rem;
            border: none;
            width: 100%;
            transition: .2s;
        }

        .btn-cart:hover {
            background: #bb1f1f;
        }

        .heart-btn {
            font-size: 2rem;
            color: #888;
            cursor: pointer;
        }

        .desc-box {
            background: #e5e5e5;
            padding: 25px;
            border-radius: 20px;
        }

        .accordion-button {
            border-radius: 20px !important;
        }
        .accordion-item {
            border: none;
            margin-bottom: 15px;
        }

        @media (max-width: 768px) {
            .product-title {
                font-size: 1.6rem;
            }
        }






